<h1>All Categories</h1>

<%= link_to "Create Category", new_category_path, class: "btn btn-create" %>
<br>
<table>
  <% @categories.each do |category| %>
    <tr id=category-<%=category.id%> >
      <td>&bull;</td>
      <td>
        <%= link_to category.title, category_path(category), class: "link" %>
      </td>
      <td></td>
      <td>
        <%= link_to "Edit", edit_category_path(category), id: "edit-#{category.id}", class: "btn btn-edit" %>
      </td>
    </tr>
  <% end %>
</table>